.header {
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  width: 100%;
  &-main {
    display: flex;
    position: relative;
    right: 30px;
    max-width: 1010px;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: auto;
    @media screen and (max-width: 1025px) {
      max-width: 900px;
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
      height: 107px;
    }
  }
  &-left {
    display: flex;
    align-items: center;
    margin: 4px 3vw;
    @media screen and (max-width: 992px) {
      position: fixed;
      left: 10px;
      top: 10px;
    }
  }
  &-menu {
    cursor: pointer;
  }
  &-wanted {
    position: relative;
    bottom: 1px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    color: black;
    text-decoration: none;
    width: 70px;
    &:hover {
      color: black;
    }
  }
  &-link {
    display: flex;
    position: relative;
    right: 20px;
    font-weight: 600;
    justify-content: space-between;
    width: 450px;
    @media screen and (max-width: 992px) {
      position: fixed;
      left: 30px;
      top: 60px;
      width: 430px;
    }
    @media screen and (max-width: 768px) {
      justify-content: left;
      position: fixed;
      left: 0;
      width: 150px;
    }
    &:hover {
      @media screen and (min-width: 992px) {
        margin: 3px 0 0 0;
      }
    }
  }

  &-right {
    display: flex;
    width: 240px;
    position: relative;
    left: 20px;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      width: 60px;
      top: 65px;
      left: 370px;
    }
    @media screen and (max-width: 768px) {
      position: relative;
      width: 60px;
      top: 70px;
      left: 45%;
    }
    &-item {
      cursor: pointer;
    }
  }
  &-service-button {
    display: flex;
    width: 80px;
    height: 24px;
    text-decoration: none;
    color: #666666;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    &:hover {
      color: #666666;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

.link {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 70px;
  padding: 15px 0;
  &:hover {
    color: black;
    border-bottom: 3px solid lightgray;
  }
}

.vertical-line {
  width: 1px;
  height: 10px;
  margin: 20px;
  background-color: lightgray;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.etc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.home {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}